body {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

#turnover {
  cursor: move;
  margin: 0 auto;
  min-height: 100px;
  position: relative;
}

#turnover #loader {
  background: url(../images/loader.gif) center center no-repeat;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}